/* start Scroll Personalizado */

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #f8f9ff;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border-right: 2px solid #f8f9ff;
}

.content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #f8f9ff;
}

.content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border-right: 2px solid #f8f9ff;
}

/* End Scroll Personalizado */

/*
Align center content for editor email
**/
.email-row {
  min-width: max-content !important;
}
